streamlit== 1.51.0
pandas==2.1.4
numpy==1.26.4
pycaret==3.3.2
scikit-learn==1.4.2
itables==2.5.2
boto3==1.40.74 # Do interakcji z DigitalOcean Spaces (kompatybilne z AWS S3)
python-dotenv==1.2.1 # Do ładowania BUCKET_NAME/kluczy z pliku .env
seaborn==0.13.2 # Do zaawansowanych wizualizacji
matplotlib==3.7.5 # Podstawa dla Seaborn i plt.
altair==5.5.0 # Do interaktywnych wykresów w Streamlit (Wykres 4)
scipy==1.11.4 # (Test t-Studenta, choć nie jest w pełni zaimplementowany, importuje się go do tej sekcji)
streamlit==1.51.0
pandas==2.1.4
boto3==1.40.74
openai==1.47.0
langfuse==3.10.0
joblib==1.3.2
